@{
    ViewData["Title"] = "Home Page";
}
<section class="home">

    <div class="content">
        <h3>Welcome to My Restaurant</h3>
        <p>Uy tín tạo nên thương hiệu</p>
    </div>

    <div class="image">
        <img src="/images/home-img.png" alt="">
    </div>
</section>